<h1>Welcome</h1>
<h3>This rails aplication shows how to create a has_and_belongs_to_many Relationship</h3>

<br>
<br>

<p><%= link_to "Kids", kids_path %></p>
<p><%= link_to "Candies", candies_path%></p>
